# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "99b5fb810e44540ba762edeeb5152bc4"
name = "megagastrostore_auto_sysn"
application_url = "https://megagastrostore-auto-sysn.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_locations,read_metaobjects,read_products,read_publications,write_inventory,write_metaobject_definitions,write_metaobjects,write_products,write_publications"

[auth]
redirect_urls = [
  "https://megagastrostore-auto-sysn.vercel.app/auth/callback"
]
